@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root{
    --primary: #BCAAAA;
    --secondary: #EF400F;
}


.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    padding: 30px 0;
    box-shadow: 0px 4px 8.7px 0px #00000040;
}

.logo img{
    width: 200px;
}

.nav__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    display: flex;
    align-items: center;
    gap: 30px;
}

.list__link{
    font-size: 24px;
    font-weight: 600;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    transition: .5s;
}

.list__link::after{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0;
    left: 50%;
    height: 4px;
    background-color: var(--secondary);
    transition: .5s;
}

.list__link:hover{
    color: var(--secondary);
}
.list__link:hover::after{
    width: 100%;
    left: 0;
}


.list__link i{
    font-size: 30px;
}


.post{
    display: flex;
    align-items: center;
    gap: 15px;
}

.post img{
    width: 58px;
}

.post__btn{
    width: 220px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--secondary);
    border-radius: 20px;
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary);
    gap: 5px;
    transition: .5s;
}

.post__btn:hover{
    background-color: var(--secondary);
    color: white;
}


.main{
    padding: 40px 0;
}

.main__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.magazin{
    display: flex;
    align-items: center;
    gap: 5px;
}

.title{
    color: #0D0C5C;
    font-size: 46px;
}

.form{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form input{
    width: 340px;
    height: 55px;
    background-color: black;
    border: none;
    color: var(--primary);
    font-size: 24px;
    padding: 5px 20px;
    border-radius: 20px;
}

.form button{
    width: 120px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D0D5B;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.history{
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary);
}

.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    width: 100%;
    margin-top: 50px;
}

.card{
    width: 300px;
    height: 350px;
    box-shadow: 0px 4px 13.3px 0px #00000040;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 20px ;
font-size: 15px;
gap: 10px;
}

.card img{
    width: 130px;
}

.price{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: var(--primary);
}

.price img{
    width: 18px;
}

.ostatok{
    color: var(--primary);
}